/* Root Variables
----------------------------*/
/*
CSS variables for efficient color themeing
*/
:root {
    --main-bg-color: #2b2b2b;
    --secondary-bg-color: #e8e8e8;
    --header-color: #F9A03F;
    --accent-color: #bd3e3e;
    --font-color: #FFFFFF;
}

/* Global Styles
----------------------------*/
html {
    box-sizing: border-box;
}
*, *:before, *:after {
    box-sizing: border-box;
}
body {
    color: #343434;
    margin: 0;
    padding: 0;
    font-family: 'Montserrat', sans-serif;
    font-size: 15px;
    line-height: 1.5;
}
img {
    width: 450px;
    height: 350px;
}
a {
    color: var(--header-color);
    text-decoration: none;
}
a:hover {
    text-decoration: none;
    color: var(--accent-color);
}
h1 {
    font-family: 'Birthstone', cursive;
    font-size: 150px;
}
h2 {
    font-size: 30px;
    color: var(--header-color);
}
h3 {
    font-family: 'Montserrat', sans-serif;
    font-weight: 600;
}
h1, h2 {
    margin: 0;
}
p {
    font-family: 'Montserrat', sans-serif;
    font-weight: 300;
}
h3 {
    margin-bottom: 0;
}
.item-details h3 + p {
    font-style: italic;
}
.item-details h3 ~ p {
    margin: 0;
}
.content-wrap {
    max-width: 800px;
    width: 85%;
    margin: 0 auto;
    padding: 60px 0;
}
.divider > section {
    border-bottom: 1px solid #343434;
    padding: 25px 0;
}
.divider > section:last-of-type {
    border-bottom: none;
}

/* Profile
----------------------------*/
header {
    background-image: url(../assignment1a-jessep92/images/hero-img.png);
    background-size: cover;
    color: var(--font-color);
    text-shadow: 1px 3px 30px var(--main-bg-color);
    text-align: center;
    height: 450px;
}
header h1 {
    margin-bottom: -50px;
}
header h2 {
    text-shadow: 1px 3px 20px var(--main-bg-color);
}
.top-nav {
    overflow: hidden;
    background-color: var(--main-bg-color);
    position: fixed;
    top: 0;
    width: 100%;
}
.top-nav a {
    transition: all .5s ease;
    float: right;
    display: block;
    color: var(--header-color);
    text-align: center;
    padding: 15px 35px;
    text-decoration: none;
    border-left: 2px solid;
    border-image: 
    linear-gradient(
      to bottom, #F9A03F, 
      rgba(0, 0, 0, 0)
    ) 1 100%;
}
.top-nav a:hover {
    background: var(--accent-color);
    color: var(--font-color);
}

/* Projects
----------------------------*/
.projects {
    background: var(--secondary-bg-color);
}
.projects h1 {
    font-family: 'Birthstone', cursive;
    font-size: 50px;
    color: var(--main-bg-color);
}
.projects a {
    color: #2f3061;
}
/*
Transition to make user experience smoother and more visually pleasing
Applying to ALL elements, :before & :after pseudo-elements with a .5s ease
Causes hover state to transition the background fill at a smoother rate
*/
.projects .btn {
    transition: all .5s ease;
    color: var(--accent-color);
    border: 3px solid var(--accent-color);
    text-decoration: none;
    padding: 8px 23px;
    display: inline-block;
    background-color : transparent;
    outline: none;
    border-radius: 4px;
}
.projects .btn:hover {
    background: var(--accent-color);
    color: var(--font-color);
}
.project-item {
    overflow: hidden;
}
.project-item h3 {
    margin-top: 0;
}
.img-1 {
    object-fit: cover;
}

/* Lead Generator/Modal
----------------------------*/
.lead-gen {
    background: var(--main-bg-color);
    display: block;
    width: 100%;
    overflow: hidden;
    margin: 0 auto;
    padding: 15px 0;
    text-align: center;
}
.lead-gen h1 {
    color: var(--font-color);
    font-family: 'Montserrat', sans-serif;
    font-weight: 300;
    font-size: 20px;
    display: inline-block;
    padding: 15px 15px;
    margin-right: 50px;
}
.lead-gen a {
    display: inline-block;
    transition: all .5s ease;
    color: var(--font-color);
    border: 3px solid var(--header-color);
    text-decoration: none;
    padding: 8px 23px;
    display: inline-block;
    background-color : transparent;
    outline: none;
    border-radius: 4px;
}
.lead-gen a:hover {
    background: var(--header-color);
    color: var(--font-color);
}
.modal-overlay { /* Background overlay to highlight the modal window */
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background: rgba(0, 0, 0, 0.7);
    transition: opacity 500ms;
    visibility: hidden;
    opacity: 0;
}
.modal-overlay:target { /* Enable overlay when modal is user activated */
    visibility: visible;
    opacity: 1;
}
.modal-popup {
    margin: 50px auto;
    margin-top: 200px;
    padding: 20px;
    background: rgba(43, 43, 43, 0.95);
    border-radius: 5px;
    width: 70%;
    position: relative;
    transition: all 5s ease-in-out;
}
.modal-popup h3 {
    margin-top: 0;
    color: var(--font-color);
    font-family: 'Montserrat', sans-serif;
}
.modal-popup .close { /* Closing "X" - implemented using html entity name '&times;'
                            position: absolute forces it to the top and right specified location ontop of the parent container
                     */
    position: absolute;
    top: 20px;
    right: 20px;
    transition: all 200ms;
    font-size: 25px;
    font-weight: bold;
    text-decoration: none;
    color: var(--header-color);
}
.modal-popup .close:hover {
    color: var(--font-color);
}
.modal-popup .modal-form {
    max-height: 30%;
    overflow: auto;
}
/* Style rules for the html form nested within the modal */
.modal-form {
    font-family: 'Montserrat', sans-serif;
    max-width: 400px;
    margin: 10px auto;
    padding: 16px;
    color: var(--font-color);
}
.modal-form input, .modal-form textarea {
    outline: none;
    transition: all 0.30s ease-in-out;
    width: 100%;
    margin-bottom: 4%;
    border: 1px solid var(--header-color);
    padding: 3%;
    color: var(--font-color);
    background: rgba(43, 43, 43, 0.95);
    font-family: 'Montserrat', sans-serif;
}
/* Style rules called when user interaction is active in input or textarea */
.modal-form input:focus, .modal-form textarea:focus {
    box-shadow: 0 0 5px var(--header-color);
    padding: 3%;
    border: 1px solid var(--header-color);
}
.modal-form input[type="submit"]:hover {
    background: var(--header-color);
}

/* Work Experience
----------------------------*/
.work-exp {
    background-image: url(../assignment1a-jessep92/images/work-exp_background.png);
    background-size: cover;
    background-position: top right;
    background-color: var(--main-bg-color);
    color: var(--font-color);
}
.work-exp h1 {
    font-family: 'Birthstone', cursive;
    font-size: 50px;
    color: var(--header-color);
}

/* Education
----------------------------*/
.education h1 {
    font-family: 'Birthstone', cursive;
    font-size: 50px;
}
.ed-div {
    padding-bottom: 100px;
}

/* Contact Info
----------------------------*/
footer {
    background-image: url(../assignment1a-jessep92/images/footer-img.png);
    background-size: cover;
    background-position: bottom;
    color: var(--font-color);
    text-align: center;
}
.footer-content h1 {
    font-family: 'Birthstone', cursive;
    font-size: 50px;
}
.contact-list {
    display: flex;
    justify-content: center;
    list-style-type: none;
    padding: 0;
}
.contact-list a {
    padding: 15px;
    display: inline-block;
}

/* Media Queries
----------------------------*/
@media screen and (min-width:700px){
    .project-item img {
        float: left;
        margin-right: 20px;
    }

    .job-item {
        display: grid;
        grid-template-columns: 1fr 2fr;
        column-gap: 20px;
    }
}
@media screen and (max-width:750px){
    h1 {
        font-family: 'Birthstone', cursive;
        font-size: 100px;
        padding-bottom: 15px;
    }
    .top-nav a {
        transition: all .5s ease;
        float: right;
        display: block;
        color: var(--header-color);
        text-align: center;
        padding: 8px 15px;
        text-decoration: none;
        border-left: 2px solid;
        border-image: 
        linear-gradient(
          to bottom, #F9A03F, 
          rgba(0, 0, 0, 0)
        ) 1 100%;
    }
    html, body {
        overflow-x: hidden;
    }
    header h1 {
        font-size: 80px;
    }
}