/* Root Variables
----------------------------*/
:root {
    --main-bg-color: #353B3C;
    --secondary-bg-color: #D2D7DF;
    --header-color: #F9A03F;
    --accent-color: #E15554;
    --font-color: #FFFFFF;
}

/* Global Styles
----------------------------*/
html {
    box-sizing: border-box;
}
*, *:before, *:after {
    box-sizing: border-box;
}
body {
    color: #343434;
    margin: 0;
    padding: 0;
    font-family: 'Montserrat', sans-serif;
    font-size: 15px;
    line-height: 1.5;
}
img {
    width: 300px;
}
a {
    color: #ffe66d;
}
a:hover {
    text-decoration: none;
}
h1 {
    font-size: 75px;
}
h2 {
    font-size: 30px;
}
h1, h2 {
    margin: 0;
}
p {
    font-family: 'Montserrat', sans-serif;
    font-weight: 300;
}
h3 {
    margin-bottom: 0;
}
.item-details h3 + p {
    font-style: italic;
}
.item-details h3 ~ p {
    margin: 0;
}
.content-wrap {
    max-width: 800px;
    width: 85%;
    margin: 0 auto;
    padding: 60px 0;
}
.divider > section {
    border-bottom: 1px solid #343434;
    padding: 25px 0;
}
.divider > section:last-of-type {
    border-bottom: none;
}

/* Profile
----------------------------*/
header {
    background: #2f3061;
    color: #f7fff7;
    text-align: center;
}

/* Projects
----------------------------*/
.projects {
    background: #f7fff7;
}
.projects a {
    color: #2f3061;
}
.projects .btn {
    color: #f7fff7;
    background: #2f3061;
    text-decoration: none;
    padding: 8px;
    border-radius: 4px;
    display: inline-block;
}
.projects .btn:hover {
    background: rgba(47, 48, 97, 80%);
}
.project-item {
    overflow: hidden;
}
.project-item h3 {
    margin-top: 0;
}

/* Work Experience
----------------------------*/
.work-exp {
    background-image: url(../assignment1a-jessep92/images/work-exp_background.png);
    background-size: cover;
    background-position: top right;
    padding-bottom: 100px;
}

/* Education
----------------------------*/


/* Contact Info
----------------------------*/
footer {
    background: #343434;
    color: #f7fff7;
    text-align: center;
}
.contact-list {
    display: flex;
    justify-content: center;
    list-style-type: none;
    padding: 0;
}
.contact-list a {
    padding: 15px;
    display: inline-block;
}

/* Media Queries
----------------------------*/
@media screen and (min-width:700px){
    .project-item img {
        float: left;
        margin-right: 20px;
    }

    .job-item {
        display: grid;
        grid-template-columns: 1fr 2fr;
        column-gap: 20px;
    }
}